<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/foundation.min.css' />
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <script src='javascripts/vendor/jquery.js'></script>
    <script src='javascripts/vendor/foundation.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
